<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="bower_components/angular/angular.min.js" defer></script> 
        <script src="assets/js/main.js" defer></script> 
    </head>
    
    <body ng-app="myApp">
        <section ng-controller="modalCtrl" class="container modal">
           <modal title="'Good Morning'" show="modalShown" id="1">
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
           </modal>
           <button ng-click="toggleModal()" class="btn">Show/hide modal</button>
        </section>
        
        <section class="container tabs">
            <tab-control class="clearfix">
                <tab-pane title="1">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 1</p>
                </tab-pane>
                <tab-pane title="2">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 2</p>
                </tab-pane>
                <tab-pane title="3">
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.3</p>
                </tab-pane>
                <tab-pane title="4">
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.4</p>
                </tab-pane>
            </tab-control>
        </section>
    </body>
    
    <script type="text/ng-template" id="modalTemplate">
        <div class="modal" ng-show="show">
            <div class='modal-overlay' ng-click='hideModal()'></div>
            <div class='modal-dialog'>
                <div class="modal-heading">
                    <h2>{{title}}</h2>
                    <div class="close" ng-click="hideModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                        </svg>
                    </div>
                </div>
                <div class="modal-content">
                    <div ng-transclude></div>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="tabsTemplate">
        <div>
            <ul class="tab-panes clearfix">
                <li ng-repeat="pane in $ctrl.panes" ng-class="{ active: pane.selected }">
                    <a href="" ng-click="$ctrl.select(pane)">{{pane.title}}</a>
                </li>
            </ul>
            <div class="tab-content" ng-transclude></div>
        </div>
    </script>
    
    <script type="text/ng-template" id="tabPaneTemplate">
        <div class="tab-pane" ng-show="$ctrl.selected" ng-transclude></div>
    </script>
</html>